.body-container
  .mycontact-container
    #center_column.center_column
      %iframe#google-maps{style: "height: 350px;", src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d171490.73204322736!2d9.295760000000001!3d47.80970000000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479a50933a53f2a7%3A0xe19d08095700ddf4!2sSonnhalde+6%2C+88699+Frickingen!5e0!3m2!1sde!2sde!4v1430364451642"}
      .container
        .row
          .contact-form-box
            %fieldset
              .clearfix
                .col-md-5.col-sm-5
                  %h2 Blaufuchs Verlag
                  .content
                    %p.text
                      Blaufuchs Verlag
                      %br
                      Inhaber: Thomas Mangold

                      %br
                      UStID: DE 215085051
                      %br
                      Inhaltlich verantwortlich: Thomas Mangold, Adresse wie oben
                    %ul.list-unstyled.contact-info-list
                      %li
                        %i.icon.fa.fa-phone
                        %strong Telefon:
                        %span.contact-info 0700 5387838836
                      %li
                        %i.icon.fa.fa-envelope
                        %strong E-mail:
                        %a{:href => "#"} office@blaufuchs-verlag.de
                      %li
                        %i.icon.fa.fa-chain
                        %strong Website:
                        %a{:href => "//blaufuchs-verlag.de"} wwww.blaufuchs-verlag.de
                      %li
                        %i.icon.fa.fa-map-marker
                        %strong Adresse:
                        %span.contact-info Sonnhalde 6, 88699 Leustetten


                .col-md-7.col-sm-7
                  = form_for @message, url: contact_path do |f|
                    %h2 Senden Sie uns eine Nachricht
                    = render 'shared/error_messages', object: @message
                    .row
                      .col-md-6
                        %p.form-group
                          %label{:for => "name"} Name
                          = f.text_field :name, id: 'name', class: 'form-control txt grey validate'
                      .col-md-6
                        %p.form-group
                          %label{:for => "email"} E-Mail-Adresse
                          = f.email_field :email, id: 'email', class: 'form-control txt grey validate'
                    .row
                      .col-md-12
                        .form-group
                          %label{:for => "message"} Nachricht
                          = f.text_area :content, id: 'message', class: 'form-control txt', rows: '4'
                    .submit
                      = f.submit 'Senden', class: 'btn btn-normal btn-blue btn-uppercase'
